body{
    background-color: #EAF6F6;
    background-image: url("https://www.nicepng.com/png/full/17-173001_national-blossom-festival-free-falling-cherry-blossoms-png.png");
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
    
}
h1{
    color: palevioletred;
    font-style: italic;
}
h3{
    font-style: italic;
    color: #30a4a4;
}
p{
    font-size: large;
}
