body{
    background-color: #F7F6DC;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color:grey;
    border-width: 5px;
    height: 0px;
    width: 5%;
    
}
h1{
    color: palevioletred;
    font-style: italic;
}
h3{
    font-style: italic;
    color: #30a4a4;
}
p{
    font-size: large;
}
